<h1>Movies#create</h1>
<p>Find me in app/views/movies/create.html.erb</p>
<h1>Película creada exitosamente</h1>

<p>Nombre: <%= @movie.name %></p>
<p>Sinopsis: <%= @movie.synopsis %></p>
<p>Director: <%= @movie.director %></p>

<%= link_to 'Volver al listado', movies_path %>
